



.card .thumb:nth-child(1) {
  padding-bottom: 50%;
  background-size: cover;
  background-position: center bottom;
}

/*desktop*/


@media screen and (min-width: 900px) {
}


  /*tablet*/
  @media screen and (max-width: 880px) {
      
  }

  /*mobile*/


@media only screen and (max-width: 800px) 
{
}


  /*smaller mobile screens*/
  @media only screen and (max-width: 600px) {
  }

