.exhibition {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.exhibition-container {
  margin: 2em;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
}

.exhibition-image {
  max-width: 800px;
}

.exhibition-image img {
  height: auto;
  max-width: 100%;
}

.other-exh {
  background-color: var(--card-main-color);
  border-radius: 10px;
  margin: 0px 50px;
}

/* Media Queries */

@media (min-width: 801px) {
  .exhibition-container {
    justify-content: center;
    grid-template-columns: 4fr 2fr;
  }
  .other-exh {
    margin: 15px 0px;
  }
}

@media (min-width: 601px) {
}
