.exhibition-container {
  max-width: 1000px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibition-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}

.exhibtion-card,
.header-card {
  background-color: var(--white);
  border-radius: 10px;
}

.exh-title p,
.header-card p {
  margin-bottom: 2em;
  text-align: left;
}

.exhibtion-card img:hover,
.header-card img:hover {
  filter: brightness(110%);
}

.exh {
  background-color: var(--nav-color);
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .exhibition-grid {
    grid-template-columns: 1fr 1fr;
  }
}
