.main-wrapper h1 {
  color: var(--black);
  background-color: var(--nav-color);
}

.involved {
  background-color: var(--nav-color);
}

.exhibition-container {
  max-width: 1000px;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibition-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}

.exhibtion-card,
.header-card {
  background-color: var(--white);
  border-radius: 10px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-content: baseline;
  margin: 20px;
}

.header-card {
  background-color: var(--nav-color);
}

.exh-title,
.exh-title h3 {
  text-align: center;
  color: var(--black);
  margin: 0;
  font-size: 2rem;
  font-family: bebas neue;
  font-weight: 400;
  padding: 1em;
}

.exh-title h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--nav-color);
}

.header-card img {
  height: auto;
  max-width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.contact-btn {
  border-radius: 4px;
  padding: 5px 0px;
  border: none;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-size: 1.3rem;
  transition: 0.5s all ease-in-out;
  background-color: var(--nav-color);
  color: var(--white);
}

.contact-btn a {
  color: var(--black);
}
/*desktop*/

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .exhibition-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* mobile*/

@media screen and (max-width: 800px) {
  section.contact-form form {
    display: flex;
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em 2em;
    margin: 30% 5%;
  }

  input[type="email"] {
    margin-left: -20px;
  }
}

/* Donation form*/

.donationsFormInner {
  font-family: "roboto", sans-serif;
  color: var(--text-read);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.3rem;
  margin-top: 20px;
}

input {
  width: 60px;
}

.validity {
  font-size: 1.3rem;
}

@media screen and (min-width: 900px) {
}

/*tablet*/
@media screen and (max-width: 880px) {
}

/*mobile*/

@media only screen and (max-width: 800px) {
}

/*smaller mobile screens*/
@media only screen and (max-width: 600px) {
}
