:root {
    --main-deco-color: #214c57;
    --nav-color: #bcfd2b;
    --card-main-color: #533083;
    --text-deco: #ffffff;
    --text-read: #000000;
  }


  .about-text a {
    color: var(--text-read);
    text-decoration: underline;
    font-weight: 600;
  }
  
  /* Cards*/

  .card {
    background: var(--main-deco-color);
    color: var(--text-deco);  
  }
  
  .card-grid {
    display: flex;
  }
  
  .card-grid {
    width: 100%;
    position: relative;
    border: solid #f2f2f2 0.1em;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  
  }
  
  /* Donation form*/
  
  .donation-text {
    max-width: 70%;
  }

.donationsFormInner {
  font-family: "roboto", sans-serif;
  color: var(--text-read);  
    margin-bottom: 1em;
    padding: 1em;
}

input[type="number"] {
  width: 100px;
}

.validity {
  display: flex;
  flex-direction: row;
}
input:invalid+span:after {
    content: '*Requierd';
    padding-left: 5px;
}

input:valid+span:after {
    content: 'NOK';
    padding-left: 5px;
}



  
  
    
