/*hero image*/
.hero {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url("../images/spaceman_close_up.jpg");
  filter: brightness(105%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.hero h1 {
  font-family: "bebas neue pro", "bebas neue", Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
  background-color: var(--black);
  text-align: left;
}

.hero-card {
  background-color: var(--black);
  padding: 0.5em 0.5em 1em 1em;
  width: 200px;
  height: 100%;
  border-radius: 0px 10px 0px 0px;
}

.hero h2,
.hero p,
.hero a {
  color: var(--white);
  margin: 0px 5px;
}

.hero h2 {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  font-family: "roboto", sans-serif;
  text-align: left;
}

.cta-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  border-radius: 4px;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  transition: 0.5s all ease-in-out;
  background-color: var(--nav-color);
  color: var(--black);
}

.hero-btn:hover {
  background-color: var(--white);
  color: var(--black);
}

.exh-title {
  color: var(--white);
  margin: 0;
  font-size: 1.7rem;
  font-family: bebas neue;
  font-weight: 400;
  padding: 0.5em;
}

.exhibtion-card img:hover {
  filter: brightness(110%);
}

.card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.exhibtion-card {
  background-color: var(--card-main-color);
  border-radius: 10px;
  cursor: pointer;
  width: 300px;
}

.exhibtion-card img {
  height: auto;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  transition: 0.3s all ease-in-out;
}

.hero .fas,
.exhibtion-card .fas {
  position: relative;
  font-size: 0.7em;
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
}

.hero .fas {
  font-size: 1.5em;
}

.hero .fas:hover,
.exhibtion-card .fas:hover {
  left: 1em;
}

/*mobile*/
@media only screen and (max-width: 600px) {
}

/*tablet*/
@media screen and (min-width: 700px) {
  .hero-card {
    width: 350px;
  }

  .exhibtion-card {
    width: 400px;
  }

  .hero h1 {
    font-size: 4rem;
  }
  .cta-hero {
    flex-direction: row;
  }
}

/*Desktop*/
@media screen and (min-width: 900px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }

  .exhibtion-card {
    width: 400px;
  }
}
