/*Card section*/

.about-text {
    max-width: 600px;
    margin: 0 auto;
  }
  
.card-text {
  flex-direction: row;
  display: flex;
justify-content: start;
max-width: 600px;
margin: 0 auto;

}

  .card-grid {
    width: 100%;
    position: relative;
    border: solid #f2f2f2 0.1em;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  /*location*/

  .location h2{
margin-bottom: -2px;
  }

  .location p {
    font-size: 1em;
  }
  iframe {
   padding: 40px;
   max-width: 600px;
 
  }

  /*Contact form*/

label {
  font-family: "roboto", Arial, Helvetica, sans-serif;
}

.form-container {
  padding: 1em;
  max-width: 100%;
}
.contact-form  h4{
text-align: center;
}



input [type="text"],
input [type="subject"],
input [type="email"],
textarea,
select {
  display: flex;
  flex-direction: column;
  padding: 1em;
  max-width: 100%;
  border-radius: 4px;
  width: 100%;
  margin: 0.25em 0;
  box-sizing: border-box;
  outline: none;
}

input[type="email"] {
  padding: 1em;
  border: 2px solid var(--nav-color);
}

input[type="subject"] {
  padding: 1em;
  color: #000000;
  border-radius: 4px;
  border: 2px solid var(--nav-color);
}

button[type="submit"] {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-family: "roboto", sans-serif;
  font-size: 1.5em;
}


button[type="submit"]:hover {
  background-color: #c2702d;
}
textarea {
  font-family: "roboto", sans-serif;
  border: 1px solid;
}

/*desktop*/


@media screen and (min-width: 900px) {
}


/* tablet*/

@media (max-width: 880px) {
  iframe {
    max-width: 400px;
  
   }
 
  
}

/* mobile*/

@media screen and (max-width: 800px) {

  section.contact-form form {
    display: flex;
  }  

  .card-text {
    flex-direction: column;
    display: flex;
    justify-content: start;
    padding-right: 20px;
    max-width: 400px;
    margin: 0 auto;

  }  
  iframe {
    position: relative;
   padding: 20px;
max-width: 280px;
height: 200px;
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em 2em;
    margin: 30% 5%;
  }


  input[type="email"] {
    margin-left: -20px;
  }
  

}





