.about-text {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .card-grid {
    width: 100%;
    position: relative;
    border: solid #f2f2f2 0.1em;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }


.fa {
    padding: 1em;
}

@media screen and (max-width: 700px) {


}


@media only screen and (min-width: 769px) {  
  
}



